<!DOCTYPE html>
<html>
<head>
  <title>Game Score Keeper: Home Page</title>
</head>
<body>
  <h1>Welcome, <%= username %></h1>
  <% if (errorMessage) { %>
    <p style="color:red"><%= errorMessage %></p>
  <% } %>
  <form action="/createTournament" method="POST">
    <label for="tournamentName">Naziv natjecanja:</label>
    <input type="text" id="tournamentName" name="tournamentName" required>
    <br></br>
    <label for="competitors">Natjecatelji (odvojeni točkom, zarezom ili novim redom):</label>
    <textarea id="competitors" name="competitors" required></textarea>
    <br></br>
    <label for="scoringSystem">Sustav bodovanja (pobjeda/remi/poraz):</label>
    <input type="text" id="scoringSystem" name="scoringSystem" required>
    <br></br>
    <input type="submit" value="Kreiraj natjecanje">
  </form>

  <h2>Your Tournaments:</h2>
  <div id="tournamentList">
    <% tournaments.forEach(function(tournament) { %>
      <div class="tournamentItem">
        <a href="/updateResults/<%= tournament.id %>">Ažuriranje rezultata: <%= tournament.name %></a>
        | <!-- Ovaj simbol | služi kao vizualni razdjelnik između poveznica -->
        <a href="/tournamentDetails/<%= tournament.id %>">Detalji turnira: <%= tournament.name %></a>
      </div>
    <% }) %>
  </div>
  <br></br>
  <h2>All Tournaments:</h2>
  <div id="allTournamentList">
    <% allTournaments.forEach(function(tournament) { %>
      <div class="tournamentItem">
        <a href="/tournamentDetails/<%= tournament.id %>"><%= tournament.name %></a>
      </div>
    <% }) %>
  </div>
  <br><br>
  <a href="/profile">Profile</a>
  <a href="/logout">Logout</a>
</body>
</html>
