<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style>
    .verified {
      color: green;
    }
    .not-verified {
      color: red;
    }
  </style>
</head>
<body>
  <h1>Tvoj profil</h1>
  
  <h2>Korisnički podaci:</h2>
  
  <p><strong>Nadimak:</strong> <%= userProfile.nickname %></p>
  <p><strong>Ime:</strong> <%= userProfile.name %></p>
  <img src="<%= userProfile.picture %>" alt="User Picture">
  <p><strong>Email:</strong> <%= userProfile.email %></p>

  <% if (!userProfile.email_verified) { %>
    <p class="not-verified">Email is not verified</p>
  <% } %>
  
  <a href="/">Početna</a> | <a href="/logout">Odjavi se</a>
</body>
</html>
