<!DOCTYPE html>
<html>
<head>
  <title>Game Score Keeper: Update Results</title>
</head>
<body>
  <h1>Ažuiraj rezultate:</h1>
  <form action="/submitResults" method="POST">
    <% results.forEach(result => { %>
      <div>
        <input type="number" name="score1_<%= result.id %>" value="<%= result.score1 %>">
        <input type="number" name="score2_<%= result.id %>" value="<%= result.score2 %>">
        <label><%= result.competitor1_name %> vs <%= result.competitor2_name %></label>
      </div>
    <% }) %>
    <button type="submit">Potvrdi promjene</button>
  </form>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.querySelector('form');
  
      form.addEventListener('submit', function(e) {
        const inputs = document.querySelectorAll('input[type="number"]'); // promijenjeno u number
  
        for (let input of inputs) {
          if (isNaN(input.value) || input.value.trim() === "") {
            e.preventDefault();
            alert('Molimo unesite ispravne brojeve za rezultate i osigurajte se da polja nisu prazna.');
            return;
          }
        }
      });
    });
</script>
</html>
